@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap" rel="stylesheet");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("components/banner.css");
@import url("components/main-head.css");
@import url("components/section.css");

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
 }

 body {
 	font-family: 'Handlee', cursive;
 	font-size: 18px;
  margin: 0px;
  background-color: #ffffff;
 }

 h1 {
 	font-family: 'Akshar', sans-serif;
 	font-weight: bold ;
 	color: white;  
	margin-bottom: 0em;
  margin-right: 2.5em;
  margin-left: 0em;
  padding-right: 7%;
  padding-left: 0%;
  font-size:10px 
 }

 a {
 	text-decoration: none;
 }

 h2 {
	font-family: 'Akshar', sans-serif;
  font-weight: bold;
  color: white;
  font-size:100px 
 }

 h3 {
	font-family: 'Akshar', sans-serif;
  font-weight: normal;
 }

 p {
  font-family: 'Roboto', sans-serif;
 }

#imageproduits {
  width: 290px;
  height: 85px;
  text-align: center;
  display: flex;
  margin: auto;
  margin-top: 41px;

}

#descriptionimage {
  width: 290px;
  height: 85px;
  text-align: center;
  display: flex;
  margin: auto;
  margin-top: 21px;
}





